# ^ Application
APP_NAME=Project
LOGGING_LEVEL=DEBUG
DEBUG=True
APP_PORT=8080

# ^ Database
DB_SCHEME=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=db
DB_USER=admin
DB_PASSWORD=admin

# ^ Uvicorn
UVICORN_WORKERS=4
APP_PORT=8080
